---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Despre noi</Fragment>
      <Fragment slot="desc">SC OMNICON STAR SRL</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">SC OMNICON STAR SRL</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        ofera servicii de consultanta pentru intocmirea documentatiilor necesare
        in vederea obtinerii actelor de reglementare in domeniul protectiei
        mediului : obtinere acord de mediu pentru proiecte publice si private ,
        autorizatie de mediu pentru activitati cu impact asupra mediului ,
        raportari de mediu respectiv : evidenta gestiunii deseurilor , a
        ambalajelor , a uleiurilor uzate , a deseurilor de echimpamente
        electrice si electronice ( DEEE ) , a deseurilor baterii si acumulator ,
        a vehiculelor scoase din uz , a emisiilor industriale -raportari lunare,
        semestriale, anuale in aplicatia SIM ( Sistem Integrat De Mediu
      </p>
    </div>
   
  </Container>
</Layout>
