---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";


---

<Layout title="">
    <Container>
        <div class="w-screen flex">
            <h1 class="mx-auto">Servicii</h1>
        </div>
    </Container>
</Layout>