---
import Container from "@components/container.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const baseURL = import.meta.env.BASE_URL;

const menuitems = [
  {
    title: "Contact",
    path: `/contact`,
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href={`${baseURL}`} class="text-lg"
          ><span class="text-slate-500"> S.C.</span>
          <span class="font-bold text-slate-800">OMNICON STAR</span>
          <span class="text-slate-500"> SRL</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <div class="flex space-x-2.5"></div>
        <span>CUI: 29829989</span>
        <span>J 06/116/2012</span>
        <span>Tel 0741113151</span>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item) => (
              <>
                <li>
                  <a
                    href={item.path}
                    class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                    <span> {item.title}</span>
                  </a>
                </li>
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
