---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-0 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Tree"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-2xl lg:text-2xl xl:text-3xl font-bold lg:tracking-tight xl:tracking-tighter">
      Consultanță de Mediu Bistrița-Năsăud
    </h1>
    <ul class="list-disc list-inside indent-8">
      <li>
        Intocmire documentatii in vederea obtinerii actelor de reglementare:
        avize, acorduri, autorizatii de mediu, care sunt necesare la
        implementarea unui proiect cu impact asupra mediului, la deschiderea
        unei activitati cu impact asupra mediului, la incetarea unei activitati
        cu impact asupra mediului, la vinderea unei activitati cu impact asupra
        mediului, la accesarea unor credite, la obtinerea unor fonduri europene
        nerambursabile, etc.
      </li>
      <li>
        Intocmire documentatii in vederea obtinerii avizelor ANANP (Agentia
        Nationala pentru Arii Naturale Protejate)
      </li>
      <li class="font-semibold">Intocmire raportari catre Agentia pentru Protectia Mediului:</li>
    </ul>
    <ul class="list-disc list-inside indent-12">
      <li>
        Identificarea tipurilor de deseuri generate dintr-o activitate,
        codificarea acestora in conformitate cu legislatia in vigoare, evidenta
        cronologica, lunara pentru fiecare tip de deseu, in parte, raportarea in
        formatul solicitat in autorizatia de mediu (format letric, electronic,
        in aplicatia SIM SD (Sistem Integrat de Mediu-Statistica Deseurilor)
      </li>
      <li>
        Evidenta gestiunii ambalajelor introduse pe piata, raportarea datelor in
        aplicatia SIM
      </li>
      <li>
        Raportarea datelor privind gestionarea uleiurilor uzate, completarea
        acestora in aplicatia SIM
      </li>
      <li>
        Raportarea datelor privind deseurile de baterii si acumulatori, in
        formatul solicitat
      </li>
      <li>
        Raportarea datelor privind DEEE (Deseuri de Echipamante Electrice si
        Electronice)
      </li>
      <li>
        Raporatrea datelor privind substantele chimice utilizate in activitate,
        completarea datelor in aplicatia SIM
      </li>
      <li>
        Raportarea datelor privind emisiile in atmosfera, completarea datelor in
        aplicatia SIM
      </li>
      <li>
        Intocmirea si transmiterea Programului de prevenire si reducere a
        cantitatilor de deseuri provenite din acivitatea autorizata
      </li>
      <li>
        Consultanta privind obligatiile legale ale comerciantilor in Sistemul de
        Garantie si Returnare (SGR)
      </li>
      <li>
        Intocmirea si depunerea Declaratiilor catre AFM (Administratia Fondului
        de Mediu)
      </li>
    </ul>
  </div>
</main>
